@model IEnumerable<AppTask>

<article id="task-tree"></article>
<div id="task-info">
    <aside id="aside_container">
    <a class="btn"
        onclick="return jQueryAjaxOpenForm('@Url.Action("CreateTaskView", "Home")');">
        Создать новую задачу
    </a>
    <a class="btn"
        onclick="return jQueryAjaxGetList('@Url.Action("TaskListView", "Home")');">
        Обновить
    </a>
    <div id="task_list_container">
        
    </div>
</aside>
<article id="task_desc_container">
    
</article>
</div>
