@model IEnumerable<AppTask>
<ul id="task_list">
    @if(Model != null)
    {
        foreach(var appTask in Model)
        {
            <li class="task">
                @if(appTask.Parent == null)
                {
                    @await Html.PartialAsync("AppTask", appTask)
                    uint layerNum = 1;
                    if (appTask.Children == null)
                        continue;
                    var enumerator = appTask.Children.GetEnumerator();
                    enumerator.MoveNext();
                    while(true)
                    {
                        var currentTask = enumerator.Current;
                        <li class="task" style="margin-left: @(layerNum * 30)px">
                            @await Html.PartialAsync("AppTask", currentTask)
                        </li>

                        if (enumerator.Current.Children != null && enumerator.Current.Children.Count > 0)
                        {
                            ++layerNum;
                            enumerator = enumerator.Current.Children.GetEnumerator();
                            enumerator.MoveNext();
                        }
                        else if (enumerator.MoveNext())
                            continue;
                        else
                        {
                            var parentTask = currentTask.Parent;
                            if (parentTask == null)
                                break;
                            if (parentTask.Parent == null)
                                break;
                            enumerator = parentTask.Parent.Children.GetEnumerator();
                            while (enumerator.MoveNext() && parentTask != enumerator.Current) ;
                            if (!enumerator.MoveNext())
                                break;
                            --layerNum;
                        }
                    }
                }
            </li>
        }
    }
</ul>