html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%;
}

main {
    height: 100%;
    width: 100%;
}

#task-info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
}



aside#aside_container {
    width: 500px;
    background-color: #E0E0E0;
    overflow-x: auto;
}

article#task_desc_container {
    flex-grow: 1;
    background-color: #F4F4F4;
    width: 100%;
}

ul#task_list {
    list-style-type: none;
    padding: 5px;
}

ul#task_list li.task {
}

ul#task_list li.task input {
    background-color: #A5A5A5;
    margin: 2px;
}

form.classic-form {
    width: 500px;
    margin: 10px;
}

form.classic-form > .form-group {
    margin-bottom: 10px;
}

article#task-tree {
    height: 32px;
}

